html {
    font-family: Roboto, sans-serif;
    color: #fff;
    background-color: #000000;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    #mainT {
        @media (min-width: 320px) {
            padding: 10px;
        }

        @media (min-width: 481px) {
            padding: 15px;
        }

        @media (min-width: 769px) {
            padding: 20px;
        }

        @media (min-width: 1025px) {
            padding: 25px;
        }
    }

    .lista {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        justify-content: flex-end;
        margin-left: auto;
        flex-direction: row;

        li {
            display: flex;
            gap: 10px;

            a {
                display: block;
                color: #fff;
                text-align: center;
                padding: 40px;
                text-decoration: none;

                &:hover {
                    color: #5f226b;
                }

                @media (min-width: 320px) {
                    font-size: 10px;
                }

                @media (min-width: 481px) {
                    font-size: 10px;
                }

                @media (min-width: 769px) {
                    font-size: 15px;
                }

                @media (min-width: 1025px) {
                    font-size: 18px;
                }
            }
        }
    }
}

.hero {
    @media (min-width: 320px) {
        padding: 10px;
    }

    @media (min-width: 481px) {
        padding: 15px;
    }

    @media (min-width: 769px) {
        padding: 20px;
    }

    @media (min-width: 1025px) {
        padding: 25px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: center;
    max-width: 100%;
    padding: 30px;
}

#crecimiento {
    font-size: 7vw;
    margin-top: 10vw;
    max-width: 100%;
}

.parrafada {
    font-size: 2vw;
    width: 45%;
    text-align: left;
}

.btn {
    display: inline-flex;
    background-color: #fff;
    color: #111111;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 30px;
    width: fit-content;
    padding: 10px;

    &:hover {
        background-color: #000;
        color: #fff;
    }

    &.dark {
        background-color: #000000;
        color: #ffffff;
        border-color: #a09b9b;

        &:hover {
            background-color: #ffffff;
            color: #000000;
        }
    }
}

#reborn {
    padding-top: 90px;
    width: 90%;
    max-width: 100%;
}

#textaco {
    margin-top: 5em;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3vw;
}

.textaco {
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (min-width: 320px) {
        margin-top: 35px;
        font-size: 26px;
        width: 36%;
    }

    @media (min-width: 481px) {
        margin-top: 45px;
        font-size: 36px;
        width: 36%;
    }

    @media (min-width: 769px) {
        margin-top: 55px;
        font-size: 46px;
        width: 36%;
    }

    @media (min-width: 1025px) {
        margin-top: 75px;
        font-size: 30px;
        width: 36%;
    }


}

.fotito {
    flex: 50%;
}

.movida {
    padding: 100px;
}

.sangria {
    padding: 100px;
}

.fotografia {
    height: auto;
    width: 100%;
}

.textos {
    display: flex;
    gap: 160px;
}

.hiper {
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parrafote {
    @media (min-width: 320px) {
        font-size: 10px;
        line-height: 30px;
        width: auto;
    }

    @media (min-width: 481px) {
        font-size: 15px;
        line-height: 30px;
        width: auto;
    }

    @media (min-width: 769px) {
        font-size: 20px;
        line-height: 30px;
        width: auto;
    }

    @media (min-width: 1025px) {
        font-size: 25px;
        line-height: 30px;
        width: 100%;
    }

    @media (min-width: 1200px) {
        font-size: 35px;
        line-height: 40px;
        width: 44%;
    }

}

.section1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 5em;
    gap: 90px;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#carta {
    width: 30%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    float: left;

}

.fotos {
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 60px;
}

#logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 250px;
    padding-bottom: 9px;
    gap: 150px;

}

.amigos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.primero {
    display: flex;
    flex-direction: row;
}

.segundo {
    display: flex;
    flex-direction: row;
    padding: 35px;
    justify-content: flex-end;
    margin-left: auto;
}

.lista {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    overflow: hidden;
    color: #ffffff;
}

.lista li a {
    display: block;
    color: #fff;
    text-decoration: none;

    @media (min-width: 320px) {
        padding: 10px;
        font-size: 10px;
    }

    @media (min-width: 481px) {
        padding: 10px;
        font-size: 10px;
    }

    @media (min-width: 769px) {
        padding: 15px;
        font-size: 15px;
    }

    @media (min-width: 1025px) {
        padding: 15px;
        font-size: 18px;
    }
}

.lista li a:hover {
    color: #5f226b;
}

img {
    width: 500px;
    height: 400px;
}

.lego {
    width: 170px;
    height: 55px;
}

.final {
    width: 40px;
    height: 40px;
}